<div class="row">

  <div class="col-xs-12">
    <img src="{{images}}{{recipe1?.imagePath}}" 
    class="img-responsive img-rounded"
    style="max-height: 200px;">
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h1>{{recipe1?.name}}</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" appDropdown>
      <button type="button" class="btn btn-primary dropdown-toggle">
        Manage Recipe <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a (click)="onAddToShoppingList()" style="cursor: pointer">To Shopping List</a> </li>
        <li><a style="cursor: pointer" (click)="onEditRecipe()">Edit Recipe</a> </li>
        <li><a style="cursor: pointer" (click)="ondeleteRecipe()">Delete Recipe</a> </li>
      </ul>
    </div>
  </div>

</div>

<div class="row">
  <div class="col-xs-12">
   {{recipe1?.description}}
  </div>
</div>

  <div class="row">
    <div class="col-xs-12">
      <ul class="list-group">
        <li 
         *ngFor="let ingredient of ingredients1" class="list-group-item">
        {{ingredient?.name}} - {{ingredient?.amount}}
        </li>
      </ul>
    </div>
</div>

